*{
    margin-left: 20px;
    
}

#add, #sub, #mul, #div, #mod, #pow, #incr, #decr{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(114, 214, 164);
    border-radius: 6px;
    width: 85px;
    height: 32px;
}
#timezone-selector{
    width: 200px;
    margin-bottom: 10px;
    background-color: rgb(114, 214, 164);
    border-radius: 6px;
    height: 32px;
}
#number1, #number2, #number, #result{
    width: 130px;
    height: 25px;
}
#demo{
    color: blue;
}

#nepali-time{
    color: red;
}
/* popup */
body{
    background-color:white;
    
}
.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(202, 193, 193, 0.4); 
}
.popup-content {
    background-color: #b59090;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.popup button{
    display: block;
    border:none;
    margin:auto;
    margin-right: 10px;
    font-size: 30px;
    background-color: white;
    cursor:pointer;
}
img{
    height: 200px;
   
}